<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      absolute
      temporary
      >
      <v-list-item>
        <v-list-item-avatar>
          <v-img src="https://image.flaticon.com/icons/png/512/206/206891.png"></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>Gofer options:</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>
      <v-list-item-group
          v-model="group"
          active-class="light-green--text text--accent-4"
        >
          <v-list-item>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Search</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Admin</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>About</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
    </v-navigation-drawer>
    <v-app-bar
    app dark
    height="100"
    color="teal darken-3">

    <v-btn
      color="deep-orange darken-4"
      dark
      @click.stop="drawer = !drawer"
    >
      OPTIONS
    </v-btn>
    <v-spacer></v-spacer>
    <v-card
    class="mx-auto"
    max-width="100"
    max-height="100"
    color="deep-orange darken-4"
    outlined
    >
    <v-img
    max-width="70"
    max-height="70"
    src="https://image.flaticon.com/icons/png/512/206/206891.png"></v-img>
    <p class="text-center font-weight-bold">GOFER</p>
    </v-card>
    </v-app-bar>

    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  data: () => {
    return {
      drawer: false,
      group: null,
    }
  },
  watch: {
    group (val) {
      if (val === 0) {
        window.location.href = '/'
      } else if (val === 1) {
        window.location.href = '/Search'
      } else if (val === 2) {
        window.location.href = '/Admin'
      } if (val === 3) {
        window.open( // this opens the given link
          'https://gitlab.com/salegrubazz/media-indexer',
          '_blank' // this is what makes it open in a new window.
        )
      }
      this.drawer = false
    },
  },
}
</script>
