<template>
  <v-container>
    <v-flex md12 lg8 offset-lg2>
      <v-card class="admin-card">
        <h1 class="display-2 font-weight-bold mb-3">
          This is the admin panel
        </h1>
        <p class="pa-4" ></p>
        <v-autocomplete
            v-model="parser"
            :items="parser_list"
            outlined
            dense
            filled
            label="Choose which parser to use"
         ></v-autocomplete>
         <v-card-text>
            Update is optional. It is recommended to be active. While active, indexing will take slightly more time, but the program will check for any obsolete folders.
            Deactivate update if folder path was never searched with the admin panel.
          </v-card-text>
         <v-switch v-model="update_switch" :label="`Update`"></v-switch>
        <v-form @submit.prevent>
          <v-text-field
            :disabled="!parser"
            v-model="path"
            label="Example: /home/folder1/folder2"
            required
          ></v-text-field>
          <v-btn small @click="submit"
          :disabled="waiting === true"
          color="teal darken-3"
          >Submit</v-btn>
        </v-form>
        <p class="pa-1" ></p>
        <p
          v-for="(file, index) in file_list"
          :key="index"
        >{{ file }}</p>
      </v-card>
    </v-flex>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {
  name: 'admin_main',
  data: () => {
    return {
      patroller_port: 'http://192.168.238.93:3000/',
      path: '',
      file_list: [],
      parser: null,
      chosen_parser: null,
      parser_list: [],
      update_switch: true,
      waiting: true,
    }
  },
  watch: {
    parser (val) {
      if (val != null) {
        this.chosen_parser = val
        this.waiting = false
      } else this.value = null
    },
  },
  methods: {
    get_parsers () {
      axios.get(this.patroller_port + 'file_walk?parsers=True').then((response) => {
        this.parser_list = response.data.files
      })
    },
    submit () {
      this.waiting = true
      this.file_list = { file: 'Loading, please wait.' }
      const data = {
        path: this.path,
      }
      const queryParser = {
        chosenParser: this.chosen_parser,
      }
      if (this.update_switch === true) {
        axios.post(this.patroller_port + 'file_walk?update=True', {
          params: {
            queryParser,
            data,
          },
        }).then((response) => {
          this.file_list = response.data.files
          this.waiting = false
        }).catch(error => {
          console.log(error.response)
          this.waiting = false
          this.file_list = { file: 'No matching items found.' }
        })
      } else {
        axios.post(this.patroller_port + 'file_walk', {
          params: {
            queryParser,
            data,
          },
        }).then((response) => {
          if (response.data.files.length === 0) {
            this.file_list = { file: 'No matching items found.' }
            this.waiting = false
          } else {
            this.waiting = false
            this.file_list = response.data.files
          }
        })
      }
    },
  },
  mounted () {
    this.get_parsers()
  },
}
</script>

<style lang="scss">
.admin-card {
  padding: 2rem;
}
</style>
