<template>
  <v-container>
    <v-layout
      text-center
      wrap
    >
      <v-flex mb-4>
        <p class="pa-3" ></p>
        <h1 class="display-2 font-weight-bold mb-3">
          Welcome to Gofer,
        </h1>
        <h1 class="display-2 font-weight-bold mb-3">
          metadata indexing units search engine
        </h1>
        <h1 class="display-1 mb-3">
          Current version is v1.0
        </h1>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'home',
}
</script>
