<template>
  <v-container>
    <v-flex md12 lg8 offset-lg2>
      <v-card class="admin-card">
        <v-autocomplete
            v-model="value"
            :items="key_list"
            dense
            filled
            label="Key"
          ></v-autocomplete>
          <v-autocomplete
            v-model="values"
            :items="value_list"
            hide-selected
            outlined
            dense
            filled
            label="Value"
          ></v-autocomplete>
          <template>
            <v-card
              class="mx-auto"
            >
              <v-card-text>
                If you want to remove a filter, or multiple filters, select them in 'Chosen filters' dropdown menu and press the remove button below.
              </v-card-text>
            </v-card>
          </template>
          <v-autocomplete
            v-model="del_value"
            :items="chosen_value_list"
            outlined
            dense
            chips
            small-chips
            label="Click to see chosen filters"
          ></v-autocomplete>
          <v-btn
            :disabled="!remove_value"
            color="grey darken-3"
            @click="remove_request (remove_value)"
          >
            Remove from list of filters
          </v-btn>
          <p class="pa-2" ></p>
          <v-btn
            class="mx-7"
            :disabled="chosen_values.length == 0"
            color="grey darken-3"
            right=true
            @click="reset_query ()"
          >
            Remove all filters
          </v-btn>
          <p class="pa-2" ></p>
          <div class="text-right">
            <v-btn
              :disabled="chosen_values.length == 0"
              color="teal darken-3"
              @click="search_for (chosen_values)"
            >
              Search for files
            </v-btn>
          </div>
          <p class="pa-3" ></p>
          <div>
            <strong class="teal--text text--lighten-5">Search queries:</strong>
          </div>
          <p class="pa-1" ></p>
          <p v-for="(file, index) in query_show"
          :key="index"
          >{{ file }}</p>
          <p class="pa-1" ></p>
          <div>
            <strong class="teal--text text--lighten-5">Search results:</strong>
          </div>
          <p class="pa-1" ></p>
          <p
          v-for="(file, index) in file_list"
          :key="index"
          >{{ file }}</p>
      </v-card>
    </v-flex>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {
  name: 'client_main',
  data: () => {
    return {
      indexer_port: 'http://192.168.238.93:5000',
      value_label_list: [],
      key_list: [],
      value_list: [],
      chosen_value_list: [],
      chosen_values: [],
      value: null,
      values: null,
      del_value: null,
      remove_value: null,
      file_list: [],
      query_show: [],
    }
  },
  watch: {
    value (val) {
      if (val != null) this.get_values(val)
      else this.value = null
    },
    values (val) {
      if (val != null) {
        var keyval = { key: this.value, value: val }
        this.add_request(keyval)
      } else this.values = null
    },
    del_value (val) {
      if (val != null) this.remove_value = val
      else this.value = null
    },
  },
  methods: {
    add_request (keyVal) {
      var requested = keyVal.key + ' = ' + keyVal.value
      var keyTmp = { 'key': keyVal.key }
      this.chosen_values.push(keyTmp)
      var valueTmp = { 'value': keyVal.value }
      this.chosen_values.push(valueTmp)
      this.chosen_value_list.push(requested)
    },
    remove_request (keyValue) {
      var requested = keyValue
      var index = this.chosen_value_list.indexOf(requested)
      this.chosen_value_list.splice(index, 1)
      var indexi = index * 2
      this.chosen_values.splice(indexi, 1)
      this.chosen_values.splice(indexi, 1)
      if (this.value + ' = ' + this.values === requested) {
        this.$nextTick(() => {
          this.values = null
        })
      }
      this.remove_value = null
    },
    get_keys () {
      axios.get(this.indexer_port + '?all_keys=True').then((response) => {
        this.key_list = response.data.files.sort()
      })
    },
    get_values (val) {
      axios.get(this.indexer_port, {
        params: {
          all_value_query: val,
        },
      }).then((response) => {
        this.value_list = response.data.files.sort()
      })
    },
    search_for (searchList) {
      this.query_show = [...this.chosen_value_list]
      var searchParams = Object.values(searchList)
      axios.get(this.indexer_port, {
        params: searchParams,
      }).then((response) => {
        if (response.data.files.length === 0) {
          this.file_list = { file: 'No matching items found.' }
        } else this.file_list = response.data.files.sort()
      })
      this.$nextTick(() => {
        this.value = null
        this.values = null
      })
      this.reset_query()
    },
    reset_query () {
      this.chosen_value_list.splice(0, this.chosen_value_list.length) // ovde ne treba da se resetuju vrednosti
      this.chosen_values.splice(0, this.chosen_values.length) // moglo bi da postoji neko cuvanje query-ja
    },
  },
  mounted () {
    this.get_keys()
  },
}
</script>

<style lang="scss">
.admin-card {
  padding: 2rem;
}
</style>
